.center {
    margin-left: auto;
    margin-right: auto;
}
.black {
    color: #777;
}

.otter-image {
    float: left;
}

.footer{
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
td:hover {
    background-color: #76ed8c;
    cursor:pointer;
}